.background-color-menu1 {
  background-color: #fcdfdb;
}

.background-color-menu2 {
  background-color: #fff5fe;
}

.background-color-menu3 {
  background-color: #edefef;
}

.background-color-menu4 {
  background-color: #fdfffd;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  width: 100%;
}

.menu-full {
  height: 1684px;
  width: 1190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Kalam", cursive;
  padding: 3% 0 3% 0;
  box-shadow: 0 0 10px grey;
}

.menu-title {
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
  margin: 3%;
}

.header-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 10%;
  width: auto;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5%;
  width: 90%;
}
.article .article__title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.article .article__title .article__title-line {
  width: 25%;
}
.article .article__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 5%;
}
@media only screen and (max-width: 500px) {
  .article .article__content {
    width: 100%;
  }
}
.article .article__content .article__content__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 1%;
}
.article .article__content .article__content__item__price {
  font-size: large;
}
@media only screen and (max-width: 500px) {
  .article .article__content .article__content__item__price {
    font-size: 0.9rem;
    margin-left: 5%;
  }
}

.footer-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer-menu .footer-menu__note {
  height: 50px;
  margin-right: 1em;
}
.footer-menu .footer-menu__title {
  font-family: "Devonshire", cursive;
  font-size: 1.6em;
}

.footer {
  height: 7vh;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.article__title--underline::after {
  content: "";
  height: 5px;
  width: 30%;
  background-color: lightgrey;
  transition: 1s ease all 0.3s;
  left: 35%;
  position: absolute;
  transform-origin: left;
  transform: scaleX(0);
}

.article__title:hover + .article__title--underline::after {
  transform: scaleX(1);
}

html,
body {
  /* height:100vh; */
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

button {
  border: none;
}

.contact,
.legal,
.soon-button {
  font-size: smaller;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 6vh;
}

.header,
.footer,
.soon-button,
button {
  background-color: #579c87;
  color: #fdcb46;
}

.header,
.soon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  height: 10vh;
  width: auto;
}

.logo {
  color: #fdcb46;
  font-weight: bolder;
  font-size: xx-large;
  text-decoration: none;
}

.logo-anchor {
  text-decoration: none;
}

.main {
  display: grid;
  grid-template-rows: 1fr 1fr 0.2fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: " img img " "img img" "soon soon";
  justify-items: center;
  align-items: center;
  grid-gap: 0vw 2vw;
  height: 84vh;
  margin-left: 30%;
  margin-right: 30%;
}

.mainImage {
  display: flex;
  justify-content: center;
}

.soon {
  grid-area: soon;
}

.soon-button {
  padding: 0.5em 2em;
  border-radius: 0.5em;
}

.menu__thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 35vh;
  transition: all 0.3s;
}

.thumbnail-container {
  overflow: hidden;
  box-shadow: 0 0 10px grey;
  width: 100%;
  text-decoration: none;
}

.thumbnail-container:hover .menu__thumbnail {
  transform: scale(1.2);
  opacity: 0.2;
}

.menu4__thumbnail--title {
  font-size: 1.2em;
  font-family: "Kaushan Script", cursive;
  background: linear-gradient(135deg, #3d923a, #beff7f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu3__thumbnail--title {
  font-family: "Dancing Script", cursive;
  font-size: 1.2em;
  background: linear-gradient(135deg, #0022db, #0889fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 5px;
}

.menu2__thumbnail--title {
  font-family: "Laila", cursive;
  font-size: 1em;
  background: linear-gradient(135deg, #d8852e, #905bfd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 5px;
}

.menu1__thumbnail--title {
  font-family: "Devonshire", cursive;
  font-size: 1em;
  padding: 5px;
}

.header-menu__note {
  height: 10%;
}

.menu4__thumbnail--subtitle {
  font-family: "Kalam", cursive;
  font-size: 1.5em;
  color: #72bf56;
}

.menu3__thumbnail--subtitle {
  font-family: "Kalam", cursive;
  font-size: 1.5em;
  color: #0887fb;
}

.menu2__thumbnail--subtitle {
  font-family: "Adamina", cursive;
  font-size: 1.5em;
  color: #d8852e;
}

.menu1__thumbnail--subtitle {
  font-family: "Kalam", cursive;
  font-size: 1.5em;
}

.loading:after {
  content: " .";
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%, 20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: #fdcb46;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 #fdcb46, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%, 100% {
    text-shadow: 0.25em 0 0 #fdcb46, 0.5em 0 0 #fdcb46;
  }
}
.wiggle {
  animation: wiggle 3s linear infinite;
  overflow: hidden;
}

/* Keyframes WIGGLE*/
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-5deg);
  }
  20% {
    transform: rotateZ(3deg);
  }
  25% {
    transform: rotateZ(-3deg);
  }
  30% {
    transform: rotateZ(1deg);
  }
  35% {
    transform: rotateZ(-1deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}
.wiggle {
  transform-origin: 50% 5em;
}

@media all and (max-width: 500px) {
  .logo {
    font-size: 1.5rem;
  }

  .main {
    height: auto;
    margin: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container {
    margin-bottom: 20%;
  }

  .soon {
    margin-top: 5%;
  }

  .thumbnail-container {
    margin: 5%;
  }

  .footer {
    font-size: 0.8rem;
  }
}

/*# sourceMappingURL=style.css.map */
