// @import 'styleMenu.scss';


// MENU'S HEADER

.header-menu {
    .header-menu__note {
        height: 100px;
    }

    .header-menu__title {
        font-family: 'Devonshire', cursive;
        font-size: 2em;
    }
}

// MAIN STYLES FOR sectionS

.section {
    width: 80%;
    margin: 0;

    .section__title {
        .section__title-text {
            font-size: x-large;
            font-weight: bold;
        }
    }

    .section__content {
        width: 100%;
    }

    .section__title--underline::after {
            background-color: black;
        }

}
// @import 'menus-media-queries.scss';
