
// MENU'S HEADER

.header-menu {
    .header-menu__title {
        font-size: 3em;
        font-family: "Dancing Script", cursive;
        background: linear-gradient(135deg, #0022db, #0889fb);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding: 5px;
    }
}

// SPECIAL COLOR STYLES FOR LINES AND section__TITLE

.section__starter {
    .section__title-line {
        filter: invert(14%) sepia(84%) saturate(3813%) hue-rotate(229deg) brightness(95%) contrast(133%);
    }
    .section__title--underline::after {
  background-color: #0022db;
}
}

.section__main-course {
    .section__title-line {
        filter: invert(30%) sepia(59%) saturate(4991%) hue-rotate(205deg) brightness(99%) contrast(95%);
    }
    .section__title--underline::after {
  background-color: #066FF1;
}
}

.section__dessert {
    .section__title-line {
        filter: invert(50%) sepia(49%) saturate(7492%) hue-rotate(194deg) brightness(104%) contrast(97%);
    }
    .section__title--underline::after {
  background-color: #0889fb;
}
}

// MAIN STYLES FOR sectionS
.section {
    .section__title {
        .section__title-line--flip {
            transform: scaleX(-1);
        }

        .section__title-text {
            font-size: medium;
        }
    }
}

