// @import 'styleMenu.scss';


// MENU'S HEADER

.header-menu {
    .header-menu__note {
        height: 100px;
    }

    .header-menu__title {
        font-family: 'Devonshire', cursive;
        font-size: 2em;
    }
}

// MAIN STYLES FOR ARTICLES

.article {
    width: 80%;

    .article__title {
        .article__title-text {
            font-size: x-large;
            font-weight: bold;
        }
    }

    .article__content {
        width: 100%;
    }

}
// @import 'menus-media-queries.scss';
