// MENU'S HEADER

.header-menu {
  .header-menu__title {
    font-size: 3em;
    font-family: "Kaushan Script", cursive;
    background: linear-gradient(135deg, #3d923a, #beff7f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 5px;
  }
}

// MAIN STYLES FOR sectionS
.section {
  .section__title {
    // SPECIAL COLOR STYLES FOR LINES AND section__TITLE
    .section__title-line--gradient {
      -webkit-mask: url(../svg/line-4.svg);
      background: linear-gradient(135deg, #3d923a, #beff7f);
      -webkit-mask-size: 300px;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center;
    }
    .section__title-line {
      width: 400px;
    }

    .section__title-line--flip {
      transform: scaleX(-1);
    }

    .section__title-text {
      font-size: large;
    }
  }
  .section__title--underline::after {
    background-color: #7dc85d;
  }
}
