.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    width: 100%;
}

.menu1-full {
    height: 1684px;
    width: 1190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Kalam', cursive;
    padding: 3% 0 3% 0;
}

.menu-title {
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    margin: 3%;
}

.header-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10%;
    width: auto;
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
    width: 80%;

    .article__title {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

.footer {
    height: 7vh;
    position: fixed;
    width: 100%;
    bottom: 0;
}



/* @media all and (max-width: 500px) {    
    .mainImage {
        width:100vw;
        }
} */


/*////////// animated underline for menu-parts ////////*/

/* .menu-part {
    position: absolute;
    top: 38.5vh;
    left: 43vw;
    height:10vh;
    width: 20vw;
    z-index: 6;
} */

/* .line {    
    height: 5px;
    width: 0vw;
    background-color: red;
    transition: 1s ease all .3s;
    z-index: 5;
} */

/* .menu-part:hover .line {
    width: 15vw;
    transition: 1s ease all;
} */